@model project1.EDM.Appointment

@{
    ViewBag.Title = "AppoDelete";
    Layout = "~/Areas/hospitaladmin/Views/Shared/hospital_LayoutPage1.cshtml";
}

<h2>AppoDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.appointment_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospital.h_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.h_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.df_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.df_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.pf_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.pf_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointment_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment_status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ManageAppointment")
        </div>
    }
</div>
